In [1]:
import pandas as pd
import os

In [2]:
# import csv files - adjust header names for oct, nov and dec data to align with previous 9 months
jan_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201601-citibike-tripdata.csv")
feb_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201602-citibike-tripdata.csv")
mar_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201603-citibike-tripdata.csv")
apr_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201604-citibike-tripdata.csv")
may_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201605-citibike-tripdata.csv")
jun_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201606-citibike-tripdata.csv")
jul_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201607-citibike-tripdata.csv")
aug_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201608-citibike-tripdata.csv")
sep_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201609-citibike-tripdata.csv")
oct_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201610-citibike-tripdata.csv", names=['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'])
nov_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201611-citibike-tripdata.csv", names =['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'])
dec_df = pd.read_csv("/Users/sarahsteimle/Desktop/hw20Resources/201612-citibike-tripdata.csv", names=['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'])

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,3,5,6,7,9,10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# test to see if sep = oct header names
sep_df.dtypes.index

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [4]:
oct_df.dtypes.index

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [5]:
jan_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])
feb_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])
mar_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])
apr_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])
may_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])
jun_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])
jul_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])
aug_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])
sep_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])
oct_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])
nov_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])
dec_df.drop(columns=['end station latitude', 'end station longitude', 'start station latitude',
                                       'start station longitude', 'end station id', 'start station id'])

,tripduration,starttime,stoptime,start station name,end station name,bikeid,usertype,birth year,gender
0,Trip Duration,Start Time,Stop Time,Start Station Name,End Station Name,Bike ID,User Type,Birth Year,Gender
1,528,2016-12-01 00:00:04,2016-12-01 00:08:52,Broadway & W 60 St,E 48 St & 3 Ave,26931,Subscriber,1964,1
2,218,2016-12-01 00:00:28,2016-12-01 00:04:06,Plaza St West & Flatbush Ave,Garfield Pl & 8 Ave,27122,Subscriber,1955,1
3,399,2016-12-01 00:00:39,2016-12-01 00:07:19,E 15 St & 3 Ave,W 13 St & 6 Ave,19352,Subscriber,1985,1
4,254,2016-12-01 00:00:44,2016-12-01 00:04:59,Washington St & Gansevoort St,Christopher St & Greenwich St,20015,Subscriber,1982,1
5,1805,2016-12-01 00:00:54,2016-12-01 00:31:00,Peck Slip & Front St,Peck Slip & Front St,23148,Subscriber,1989,1
6,483,2016-12-01 00:01:13,2016-12-01 00:09:17,Myrtle Ave & St Edwards St,Franklin Ave & Myrtle Ave,16140,Subscriber,1986,1
7,1114,2016-12-01 00:01:37,2016-12-01 00:20:12,W 20 St & 8 Ave,W 22 St & 8 Ave,19997,Subscriber,1964,1
8,2680,2016-12-01 00:01:50,2016-12-01 00:46:30,1 Ave & E 94 St,E 95 St & 3 Ave,26105,Subscriber,NaN,0
9,1967,2016-12-01 00:01:52,2016-12-01 00:34:40,Centre St & Chambers St,Centre St & Chambers St,21348,Customer,NaN,0
10,356,2016-12-01 00:01:54,2016-12-01 00:07:50,E 16 St & 5 Ave,W 16 St & The High Line,22517,Subscriber,1954,1
11,298,2016-12-01 00:01:54,2016-12-01 00:06:53,E 15 St & 3 Ave,E 31 St & 3 Ave,26676,Subscriber,1986,1
12,315,2016-12-01 00:02:05,2016-12-01 00:07:20,6 Ave & Broome St,West St & Chambers St,22515,Subscriber,1976,1
13,735,2016-12-01 00:02:10,2016-12-01 00:14:26,Duffield St & Willoughby St,Willoughby Ave & Tompkins Ave,26945,Subscriber,1987,1
14,361,2016-12-01 00:02:10,2016-12-01 00:08:12,Columbus Ave & W 72 St,W 84 St & Columbus Ave,22340,Subscriber,1962,1
15,1633,2016-12-01 00:02:18,2016-12-01 00:29:31,Centre St & Chambers St,Centre St & Chambers St,26482,Customer,NaN,0
16,128,2016-12-01 00:02:18,2016-12-01 00:04:26,Franklin St & W Broadway,Hudson St & Reade St,23578,Subscriber,1983,1
17,1041,2016-12-01 00:02:35,2016-12-01 00:19:57,E 2 St & Avenue B,Montrose Ave & Bushwick Ave,25992,Subscriber,1990,1
18,142,2016-12-01 00:02:53,2016-12-01 00:05:15,8 Ave & W 33 St,W 39 St & 9 Ave,23313,Subscriber,1981,1
19,256,2016-12-01 00:03:17,2016-12-01 00:07:34,9 Ave & W 22 St,Perry St & Bleecker St,25530,Subscriber,1970,1
20,200,2016-12-01 00:03:58,2016-12-01 00:07:19,E 14 St & Avenue B,1 Ave & E 16 St,27008,Subscriber,1995,2
21,957,2016-12-01 00:04:09,2016-12-01 00:20:07,Metropolitan Ave & Bedford Ave,Nostrand Ave & Myrtle Ave,17638,Subscriber,1967,1
22,653,2016-12-01 00:04:20,2016-12-01 00:15:14,Madison Ave & E 99 St,W 74 St & Columbus Ave,22662,Subscriber,1990,1
23,553,2016-12-01 00:06:43,2016-12-01 00:15:56,E 33 St & 5 Ave,Washington Pl & Broadway,20539,Subscriber,1989,1
24,318,2016-12-01 00:07:04,2016-12-01 00:12:22,LaGuardia Pl & W 3 St,W 13 St & Hudson St,15503,Subscriber,1994,1
25,145,2016-12-01 00:07:44,2016-12-01 00:10:09,Nassau Ave & Newell St,Driggs Ave & N Henry St,26823,Subscriber,1981,1
26,873,2016-12-01 00:08:00,2016-12-01 00:22:34,W 16 St & The High Line,W 42 St & Dyer Ave,25076,Subscriber,1983,1
27,274,2016-12-01 00:08:14,2016-12-01 00:12:48,7 Ave & Park Pl,Garfield Pl & 8 Ave,19860,Subscriber,1987,2
28,309,2016-12-01 00:09:27,2016-12-01 00:14:37,Cooper Square & E 7 St,E 10 St & Avenue A,25168,Subscriber,1956,1
29,214,2016-12-01 00:09:28,2016-12-01 00:13:03,Barrow St & Hudson St,Carmine St & 6 Ave,25021,Subscriber,1963,1
...,...,...,...,...,...,...,...,...,...
812163,1534,2016-12-31 23:45:48,2017-01-01 00:11:22,E 74 St & 1 Ave,6 Ave & W 33 St,25231,Subscriber,1962,1
812164,870,2016-12-31 23:46:35,2017-01-01 00:01:05,Greenwich Ave & Charles St,Greenwich Ave & Charles St,26764,Subscriber,1987,1
812165,191,2016-12-31 23:46:46,2016-12-31 23:49:58,Monroe St & Tompkins Ave,Monroe St & Bedford Ave,19072,Subscriber,1984,1
812166,519,2016-12-31 23:46:50,2016-12-31 23:55:29,St Marks Pl & 1 Ave,Perry St & Bleecker St,24936,Subscriber,1962,1
812167,549722,2016-12-31 23:47:26,2017-01-07 08:29:28,Clinton St & Tillary St,Bond St & Bergen St,14545,Subscriber,NaN,0
812168,346,2016-12-31 23:47:26,2016-12-31 23:53:12,Clinton St & Tillary St,Bond St & Bergen St,16692,Subscriber,NaN,0
812169,197,2016-12-31 23:47:30,2016-12-31 23:50:48,Greenpoint Ave & Manhattan Ave,Franklin St & Dupont St,26972,Subscriber,1988,1
812170,1806,2016-12-31 23:48:29,2017-01-01 00:18:35,Columbia St & Kane St,Columbia St & Kane St,16738,Customer,NaN,0
812171,1768,2016-12-31 23:48:51,2017-01-01 00:18:20,Little West St & 1 Pl,Little West St & 1 Pl,16818,Customer,NaN,0
812172,1855,2016-12-31 23:48:49,2017-01-01 00:19:45,Little West St & 1 Pl,Little West St & 1 Pl,21258,Subscriber,1992,2
812173,419,2016-12-31 23:48:58,2016-12-31 23:55:57,E 24 St & Park Ave S,St Marks Pl & 2 Ave,14929,Subscriber,1992,1
812174,781,2016-12-31 23:49:22,2017-01-01 00:02:24,Carmine St & 6 Ave,W 39 St & 9 Ave,27178,Subscriber,1968,1
812175,88,2016-12-31 23:49:42,2016-12-31 23:51:10,E 81 St & 3 Ave,E 85 St & 3 Ave,27134,Subscriber,1974,1
812176,227,2016-12-31 23:50:23,2016-12-31 23:54:11,Broadway & W 60 St,Columbus Ave & W 72 St,25196,Subscriber,1985,1
812177,1473,2016-12-31 23:50:39,2017-01-01 00:15:13,3 Ave & E 62 St,W 13 St & 6 Ave,20153,Subscriber,1953,1
812178,316,2016-12-31 23:51:27,2016-12-31 23:56:43,LaGuardia Pl & W 3 St,St Marks Pl & 1 Ave,26790,Subscriber,1958,1
812179,983,2016-12-31 23:51:29,2017-01-01 00:07:53,W 56 St & 10 Ave,9 Ave & W 22 St,17504,Subscriber,NaN,0
812180,275,2016-12-31 23:51:55,2016-12-31 23:56:31,Metropolitan Ave & Bedford Ave,Frost St & Meeker St,24819,Subscriber,1991,2
812181,2182,2016-12-31 23:52:04,2017-01-01 00:28:26,Amsterdam Ave & W 79 St,W 78 St & Broadway,26842,Subscriber,1975,2
812182,128,2016-12-31 23:52:34,2016-12-31 23:54:42,E 76 St & 3 Ave,E 74 St & 1 Ave,23151,Subscriber,1965,1
812183,1126,2016-12-31 23:52:54,2017-01-01 00:11:41,Allen St & Stanton St,Allen St & Stanton St,23952,Subscriber,1997,1
812184,1089,2016-12-31 23:53:23,2017-01-01 00:11:33,Amsterdam Ave & W 82 St,Central Park West & W 72 St,16115,Subscriber,1969,1
812185,750,2016-12-31 23:53:28,2017-01-01 00:05:58,Greenpoint Ave & Manhattan Ave,N 6 St & Bedford Ave,24939,Subscriber,1983,1
812186,1258,2016-12-31 23:53:42,2017-01-01 00:14:41,W 20 St & 7 Ave,W 39 St & 9 Ave,26811,Subscriber,1988,1
812187,121,2016-12-31 23:55:50,2016-12-31 23:57:52,W 42 St & Dyer Ave,11 Ave & W 41 St,25923,Subscriber,1987,1
812188,441,2016-12-31 23:56:15,2017-01-01 00:03:36,Greenwich Ave & 8 Ave,Sullivan St & Washington Sq,16185,Subscriber,1974,2
812189,1026,2016-12-31 23:56:19,2017-01-01 00:13:26,Grand Army Plaza & Central Park S,5 Ave & E 78 St,18267,NaN,1983,1
812190,1747,2016-12-31 23:56:35,2017-01-01 00:25:43,E 106 St & Lexington Ave,Central Park W & W 96 St,19899,Subscriber,1970,2
812191,951,2016-12-31 23:59:31,2017-01-01 00:15:23,W 63 St & Broadway,Riverside Dr & W 82 St,16866,Subscriber,1961,1
812192,1322,2016-12-31 23:59:56,2017-01-01 00:21:58,Cooper Square & E 7 St,Broadway & W 32 St,25793,Subscriber,1985,1

In [6]:
jan_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/jan.xlsx')
feb_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/feb.xlsx')
mar_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/mar.xlsx')
apr_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/apr.xlsx')
may_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/may.xlsx')
jun_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/jun.xlsx')
jul_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/jul.xlsx')
aug_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/aug.xlsx')
sep_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/sep.xlsx')
oct_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/oct.xlsx')
nov_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/nov.xlsx')
dec_df.to_excel('/Users/sarahsteimle/Desktop/Homework/hmw20Tableau/dec.xlsx')